body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fefce8 !important;
  color: #374151 !important;
}

.fundido {
  background-color: #fbf1e6 !important;
  width: 50px;
  height: 50px;
}

/* Garantir altura uniforme nos componentes Valores */
.row.valores-container {
  align-items: stretch;
}

.row.valores-container .col-12,
.row.valores-container .col-md-6,
.row.valores-container .col-lg-4 {
  display: flex;
  flex-direction: column;
}

/* Media queries para melhor responsividade */
@media (max-width: 767.98px) {
  .valores-container .col-12 {
    min-height: 200px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .valores-container .col-md-6 {
    min-height: 250px;
  }
}

@media (min-width: 992px) {
  .valores-container .col-lg-4 {
    min-height: 300px;
  }
}
